.parent{
    width:100%;
    height:500px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.parent .title_head{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.parent .desc_head{
    font-size: 20px;
    width:600px;
    color:#495460;

}
.parent .links {
    display: flex;
    width:850px;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.parent .links a{
    text-decoration: none;
    color:#2C2F24;
    font-size: 18px;
    padding:  10px 40px;
    border-radius: 30px;
    border:2px solid #DBDFD0;
}
.clickedButton {
    background-color: blue;
  }